<p-card styleClass="p-4" header="Create an account">
  <div class="m-0">
    <form [formGroup]="registerForm" class="flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label for="name">Name</label>
        <input pInputText id="name" formc formControlName="name" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input pInputText id="email" formc formControlName="email" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="password">Password</label>
        <p-password
          id="password"
          formControlName="password"
          [toggleMask]="true"
          styleClass="w-full"
          inputStyleClass="w-full"
        >
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
      </div>
      <div class="flex flex-column gap-2">
        <label for="password">Confirm password</label>
        <p-password
          id="confirm-password"
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
          styleClass="w-full"
          inputStyleClass="w-full"
        />
      </div>
      <p-button styleClass="w-full" label="Create an account"></p-button>
      <div class="text-center">
        Already have an account?
        <a [routerLink]="['/', 'auth', 'login']">Login</a>
      </div>
    </form>
  </div>
</p-card>
