<div
  *ngIf="{
  status: status$ | async,
  error: error$ | async,
} as state"
>
  <p-card styleClass="p-4" header="Reset your password">
    <div class="m-0">
      <form
        [formGroup]="resetPasswordForm"
        #form="ngForm"
        (ngSubmit)="onResetPasswordSubmit()"
        class="flex flex-column gap-2"
      >
        <div [ngSwitch]="state.status">
          <div *ngSwitchCase="'loading'">
            <div class="flex justify-content-center">
              <p-progressSpinner></p-progressSpinner>
            </div>
          </div>
          <div *ngSwitchCase="'success'">
            <div class="flex justify-content-center">
              <div class="text-center">
                <a [routerLink]="['/', 'auth', 'login']">Login</a>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'error'">
            <div class="flex justify-content-center">{{ state.error }}</div>
          </div>
          <div *ngSwitchCase="'pending'">
            <div class="flex flex-column gap-2">
              <div class="flex flex-column gap-2">
                <label for="password">Password</label>
                <p-password
                  id="password"
                  formControlName="password"
                  [toggleMask]="true"
                  styleClass="w-full"
                  inputStyleClass="w-full"
                >
                  <ng-template pTemplate="header">
                    <h6>Pick a password</h6>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Required</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li
                        [ngClass]="{
                          'text-primary': password?.value?.match('(?=.*[a-z])')
                        }"
                      >
                        At least one lowercase
                      </li>
                      <li
                        [ngClass]="{
                          'text-primary': password?.value?.match('^(?=.*[A-Z])')
                        }"
                      >
                        At least one uppercase
                      </li>
                      <li
                        [ngClass]="{
                          'text-primary': password?.value?.match('(.*[0-9].*)')
                        }"
                      >
                        At least one numeric
                      </li>
                      <li
                        [ngClass]="{
                          'text-primary':
                            password?.value?.match('(?=.*[!@#$%^&*])')
                        }"
                      >
                        At least one special character
                      </li>
                      <li
                        [ngClass]="{
                          'text-primary': password?.value?.match('.{8,}')
                        }"
                      >
                        Minimum 8 characters
                      </li>
                    </ul>
                  </ng-template>
                </p-password>
                <app-input-error
                  [form]="form"
                  [control]="password"
                ></app-input-error>
              </div>
              <div class="flex flex-column gap-2">
                <label for="password">Confirm password</label>
                <p-password
                  id="confirm-password"
                  formControlName="confirmPassword"
                  [feedback]="false"
                  [toggleMask]="true"
                  styleClass="w-full"
                  inputStyleClass="w-full"
                />
                <app-input-error
                  [form]="form"
                  [control]="confirmPassword"
                ></app-input-error>
                <div
                  *ngIf="
        form.errors?.['passwordMismatch'] &&
        (form.touched || form.dirty) &&
        (confirmPassword && (confirmPassword.dirty || confirmPassword.touched))
      "
                >
                  Password doesnt match
                </div>
              </div>
              <button pButton class="w-full" label="Reset password"></button>
            </div>
          </div>
        </div>
        <div class="text-center">
          Need to request a password reset?
          <a [routerLink]="['/', 'auth', 'forgot-password']">Click here</a>
        </div>
      </form>
    </div>
  </p-card>
</div>
