<div
  *ngIf="{
  status: status$ | async,
  error: error$ | async,
} as state"
>
  <p-card styleClass="p-4" header="Request a password reset">
    <div class="m-0">
      <form
        [formGroup]="forgotPasswordForm"
        #form="ngForm"
        (ngSubmit)="onForgotPasswordSubmit()"
        class="flex flex-column gap-2"
      >
        <div [ngSwitch]="state.status">
          <div *ngSwitchCase="'loading'">
            <div class="flex justify-content-center">
              <p-progressSpinner></p-progressSpinner>
            </div>
          </div>
          <div *ngSwitchCase="'success'">
            <div class="flex justify-content-center">
              <div class="text-center">
                <a [routerLink]="['/', 'auth', 'reset-password']"
                  >Reset your password</a
                >
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'error'">
            <div class="flex justify-content-center">{{ state.error }}</div>
          </div>
          <div *ngSwitchCase="'pending'">
            <div class="flex flex-column gap-2">
              <div class="flex flex-column gap-2">
                <label for="email">Email</label>
                <input
                  pInputText
                  id="emailAddress"
                  formControlName="emailAddress"
                />
                <shared-input-error
                  [form]="form"
                  [control]="emailAddress"
                ></shared-input-error>
              </div>
              <button pButton class="w-full" label="Reset password"></button>
            </div>
          </div>
        </div>
        <div class="text-center">
          Remember your password?
          <a [routerLink]="['/', 'auth', 'login']">Login</a>
        </div>
      </form>
    </div>
  </p-card>
</div>
