<p-card styleClass="p-4" header="Reset your password">
    <div class="m-0">
      <form [formGroup]="forgotPasswordForm" class="flex flex-column gap-4">
        <div class="flex flex-column gap-2">
          <label for="email">Email</label>
          <input pInputText id="email" formc formControlName="email" />
        </div>
        <p-button styleClass="w-full" label="Reset password"></p-button>
        <div class="text-center">
            Remember your password?
            <a [routerLink]="['/', 'auth', 'login']">Login</a>
          </div>
      </form>
    </div>
  </p-card>
  