<div
  *ngIf="{
  status: status$ | async,
  error: error$ | async,
} as state"
>
  <p-card styleClass="p-4" header="Sign in to your account">
    <div class="m-0">
      <form
        *ngIf="state.status != null"
        [formGroup]="loginForm"
        #form="ngForm"
        (ngSubmit)="onLogin()"
        class="flex flex-column gap-2"
      >
        <div [ngSwitch]="state.status">
          <div *ngSwitchCase="'loading'">
            <div class="flex justify-content-center">
              <p-progressSpinner></p-progressSpinner>
            </div>
          </div>
          <div *ngSwitchCase="'success'">
            <div class="flex justify-content-center">Success!</div>
          </div>
          <div *ngSwitchDefault>
            <div class="flex flex-column gap-2">
              <div class="flex flex-column gap-2">
                <label for="emailAddress">Email</label>
                <input
                  pInputText
                  id="emailAddress"
                  formControlName="emailAddress"
                />
                <app-input-error
                  [form]="form"
                  [control]="emailAddress"
                ></app-input-error>
              </div>
              <div class="flex flex-column gap-2">
                <label for="password">Password</label>
                <p-password
                  styleClass="w-full"
                  inputStyleClass="w-full"
                  id="password"
                  aria-describedby="password-help"
                  formControlName="password"
                  [feedback]="false"
                  [toggleMask]="true"
                />
                <app-input-error
                  [form]="form"
                  [control]="password"
                ></app-input-error>
              </div>
              <button pButton class="w-full" label="Login"></button>
              <div
                *ngIf="state.status == 'error'"
                class="flex justify-content-center"
              >
                {{ state.error }}
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a [routerLink]="['/', 'auth', 'forgot-password']"
            >Forgot password?</a
          >
        </div>
        <div class="text-center">
          Don't have an account?
          <a [routerLink]="['/', 'auth', 'register']">Register</a>
        </div>
      </form>
    </div>
  </p-card>
</div>
